@media (max-width: 999px) {
  .navbar {

    &.scrolled .navbar-nav {
      display: flex !important;
      top: 74px;
    }

    .socail-data,
    .form-contain {
      display: none;
    }

    .nav-list li a {
      width: 30px !important;
      height: 30px !important;
      
      img {
        width: 20px !important;
        height: 20px !important;
      }
    }

    .brand-name img {
      width: 120px !important;
    }

    .hamburger{
      display: block !important;
    }

    .navbar-nav {
      width: 100%;
      position: absolute;
      top: 84px;
      right: -100%;
      height: 100vh;
      flex-direction: column;
      justify-content: flex-start;
      padding: 40px 20px;
      z-index: 999;
      transition: all .3s linear;

      li {
        margin-inline-end: 0px !important;
        padding: 10px 0px;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.10);

        &:last-child {
          border-bottom: 0px !important;
        }

        a {
          width: fit-content;
        }
      }

      &.active-nav {
        right: 0px !important;
      }
    }
  }

  
  header {
    padding: 100px 0px 0px;

    .image-content {
      height: 180px;
    }
  }

  .sub-header {
    padding: 120px 0px 40px;
  }

  .heading {
    margin-bottom: 20px;

    .see-more {
      position: relative;
      top: unset !important;
      right: unset !important;
      width: 100%;
      justify-content: flex-end;
      margin-top: 20px;
    }
  }

  .banner .banner-link {
    height: 220px;

    h1 {
      font-size: 25px !important;

      span {
        font-size: 25px;
      }
    }
  }

  .work .flex-data {
    flex-direction: column !important;

    .box {
      width: 100%;
      margin-bottom: 40px;

      &::after {
        left: calc(50% - 24px);
        top: unset !important;
        bottom: -30px;
        animation: translateY 2s linear infinite !important;
      }
    }
  }

  footer {
    padding-top: 0px !important;

    .contain.flex-end,
    .contain.padding-contain {
      justify-content: flex-start !important;
      align-items: flex-start !important;
      align-content: flex-start !important;
    }

    h1 {
      margin-bottom: 15px !important;
    }

    .copyrights {
      margin-top: 20px;
    }
  }

  .login-page {
    .mobile-hidden {
      display: none;
    }

    &::after {
      display: block;
    }

    .login-contain {
      padding: 20px 15px;

      h1 {
        font-size: 20px !important;
      }

      .brand-name img {
        height: 100px !important;
      }

      .code_input .code-container input {
        width: 35px;
        height: 35px;
      }
    }
  }

  .brands .box {
    height: 80px;
  }

  .product-box {
    .image-content {
      height: 100px;
    }

    .contain {
      padding: 10px 0px;

      h2 {
        font-size: 15px !important;
      }

      .desc {
        font-size: 12px !important;
        margin: 8px 0px !important;
      }

      .flex-data {
        flex-direction: column;
        padding-top: 8px;

        .custom-btn {
          width: 90%;
          margin-top: 10px;
        }
      }
    }
  }

  .products .swiper-wrapper {
    padding-top: 15px;
  }

  .mobile-hidden {
    display: none;
  }

  .profile .table-responsive table th {
    min-width: 140px !important;
  }

  .profile {
    .filter-icon {
      display: flex !important;
      margin-inline-start: 25px;
    }

    .profile-card {
      display: none;
    }
  }

  .mobile-only {
    display: block;
  }

  .mobile-filter {
    position: fixed;
    top: 0px;
    right: -100%;
    overflow-y: scroll;
    z-index: 99999;
    height: 100vh;
    background-color: var(--light-color);
    transition: all .3s linear;

    &.active-filter {
      right: 0px;
    }

    .close-icon {
      display: flex;
    }
  }

  .products .form-search {
    height: 40px;

    .search-btn{
      width: 70px !important;
    }

    .form-control {
      padding-inline-end: 70px !important;
    }
  }

  .products {
    .sort-contain .sort-icon {
      width: 40px !important;
      height: 40px !important;
      margin: auto !important;
    }
  }

  .profile-mobile-view {
    border-radius: 0px !important;
    display: block !important;

    .close-icon {
      display: flex !important;
    }

    .image-content {
      margin: auto;
    }
  }
}